.featuresSection{

  padding:120px 80px;
}

.sectionTitle{

  text-align:center;
}

.sectionTitle h2{

  font-size:52px;

  color:white;
}

.sectionTitle p{

  margin-top:20px;

  color:#94a3b8;

  font-size:18px;
}

.featuresGrid{

  margin-top:70px;

  display:grid;

  grid-template-columns:
    repeat(4,1fr);

  gap:26px;
}

.featureCard{

  padding:40px;

  border-radius:28px;

  background:

    rgba(255,255,255,.04);

  border:

    1px solid
    rgba(255,255,255,.06);

  transition:.3s;
}

.featureCard:hover{

  transform:
    translateY(-8px);
}

.featureIcon{

  font-size:40px;
}

.featureCard h3{

  margin-top:24px;

  font-size:26px;
}

.featureCard p{

  margin-top:16px;

  color:#94a3b8;

  line-height:1.7;
}